* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  background-color: #344a72;
  line-height: 1.3;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.window-0 {
  justify-content: left;
}

.window-1 {
  justify-content: right;
}

.window-2 {
  justify-content: right;
}



#container {
  text-align: center;
  box-sizing: border-box;
  background: #f4f4f4;
  max-width: 400px;
  border-radius: 9px;
  margin-top: 30px !important;
  margin-left: 10px;
  /* margin:auto; */
  padding: 30px;
  justify-content: flex-end;
  
}

.window-wrap {
  text-align: center;
  background: #f4f4f4;
  width: 90px;
  height: 90px;
  padding: 10px;
  border: #666 1px solid;
  border-radius: 6px;
  margin-left: 10px;
  margin-top: 30px;
  position: sticky;
  top: 0;
}

.cycle {
  background: lightsteelblue;
  border-radius: 9px;
  margin: 5px;
  padding: 15px;
}


.cycle p {
  text-align: center;
  font-size: 18px;
  padding: auto;
}

.form-group {
  display: block;
  margin: 5px;
}

.form-group label {
  display: block;
  color: #333;
  margin-top: 10px;
}

.form-group input, #cycle-switch {
  display: block;
  width: 100%;
  padding: 6px;
  border: #666 1px solid;
  border-radius: 6px;
  margin-top: 0px;
  background: #f4f4f4;
}

.btn {
  display: block;
  width: 33%;
  padding: 6px;
  border: #666 1px solid;
  border-radius: 7px;
  color: #fff;
  background-color:  #49c1a2;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #37a08e;
}








div p{
  box-sizing: border-box;
  /* border: 1px solid red ; */
}

#startcycle {
 
  width: 300px;
  text-align: center;
}
#endcycle {
  width: 300px;
}
#startcycle input {
  width: 180px;
  align-items: center;
}
